.product {
    margin: 2.5rem;
    padding: 2.5rem 5rem;
    background-color: var(--color-dark--1);
    min-height: calc(100vh - 5rem);
    background-image: linear-gradient(rgba(36,42,46,0.8), rgba(36,42,46,0.8)), url("../bg2.jpg");
    background-size: cover;
    background-position: center;
}

.product section {
    width: clamp(80rem, 80%, 90rem);
    margin: 6rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
    align-items: center;
}

.product img {
    width: 100%;
    border-radius: 4rem;
    opacity: 0.8;
}

.product h2 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.product p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.product section a {
    margin-top: 2rem;
}